p
{
    
    margin-top: 0px;
    margin-bottom: 0px;
}

body
{
    font-family: Roboto, Arial;
    margin-bottom: 3000px;
    padding-top: 73px;
    padding-left: 88px;
    padding-right: 18px;
    background-color: rgb(245, 245, 245);
}